{% extends "layouts/base.html" %}

{% block title %} Adauga in regitru {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Adauga o intrare</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Adauga</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Adauga o intrare in registru</h5>
                                    </div>
                                    <div class="card-body">
                                        <form id="form_add">
                                            <input type="text" name="from" value="user" hidden>
                                            <div class="form-group">
                                                <label for="id">Nr. de înregistrare</label>
                                                <input type="number" id="id" name="id" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="date_input_1">Data</label>
                                                <input type="date" id="date_input_1" name="data" class="form-control"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="nr_si_data">Nr. și data documentului</label>
                                                <input type="text" id="nr_si_data" name="nr_si_data"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="provine_doc">De unde provine documentul</label>
                                                <input type="text" id="provine_doc" name="provine_doc"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="cont_scurt">Conținut pe scurt al documentului</label>
                                                <input type="text" id="cont_scurt" name="cont_scurt"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="comp_repartizat">Compartimentul căruia i s-a repartizat
                                                    documentul și semnătura de primire</label>
                                                <input type="text" id="comp_repartizat" name="comp_repartizat"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="date_input_2">Data expedierii</label>
                                                <input type="date" id="date_input_2" name="data_expedierii"
                                                    class="form-control" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="destinatar">Destinatar</label>
                                                <input type="text" id="destinatar" name="destinatar"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="nr_inregistrare">Nr. de înregistrare la care se conex. doc.
                                                    și indic. dos.</label>
                                                <input type="text" id="nr_inregistrare" name="nr_inregistrare"
                                                    class="form-control">
                                            </div>

                                            <div id="error" class="alert alert-danger" role="alert" hidden>
                                                Există deja o înregistrare cu acest număr de înregistrare!
                                            </div>

                                            <input type="submit" value="Crează" class="btn btn-primary">
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.getElementById('form_add').addEventListener('submit', function (event) {
        event.preventDefault();
        // Serialize form data
        var formData = new FormData(this);

        // Send form data via AJAX
        fetch('/api/entry/add', {
            method: 'POST',
            body: formData
        })
            .then(async response => {
                if (response.ok) {
                    // Redirect to the success page after a successful submission
                    console.log("Entry added/updated!");
                    window.location.href = '/index';
                } else {
                    try {
                        const msg = await response.json(); // Parse JSON response
                        if (response.status === 405) {
                            var id = document.getElementById("id").value;
                            var error = "Există deja o înregistrare cu acest număr de înregistrare! Editează intrarea: " + id;
                            document.getElementById("error").removeAttribute('hidden');
                            document.getElementById("error").innerHTML = "<a href='/edit/" + id + "'>" + error + "</a>";
                        } else if (response.status === 409) {
                            document.getElementById("error").removeAttribute('hidden');
                            document.getElementById("error").innerHTML = msg.error;
                        } else if (response.status === 406) {
                            document.getElementById("error").removeAttribute('hidden');
                            document.getElementById("error").innerHTML = msg.error;
                        } else {
                            console.log("Another error occurred!");
                        }
                    } catch (error) {
                        console.error("Error parsing JSON:", error);
                    }
                }
            })
            .catch(error => {
                console.error("Error fetching the server:", error);
            });
    });



    function CurentDateForm() {
        fetch('/api/table/next')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // Parse the JSON response
                return response.json();
            })
            .then(data => {
                // Once JSON data is fetched, do something with it
                document.getElementById('id').value = data;
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });

        var currentDate = new Date();

        // Format the date as yyyy-mm-dd
        var formattedDate = currentDate.getFullYear() + '-' +
            ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' +
            ('0' + currentDate.getDate()).slice(-2);

        document.getElementById('date_input_1').value = formattedDate;
        document.getElementById('date_input_2').value = formattedDate;
    }
    CurentDateForm();
</script>
{% endblock javascripts %}