{% extends "layouts/base.html" %}

{% block title %} Editeaza in regitru {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Editeaza o intrare</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Editeaza</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Editeaza o intrare in registru</h5>
                                    </div>
                                    <div class="card-body">
                                        <form id="form_add">
                                            <input type="text" name="from" value="edit" hidden>
                                            <div class="form-group">
                                                <label for="name">Nr. de inregistrare</label>
                                                <input type="number" id="nr_inreg" name="id" class="form-control"
                                                    readonly>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Data</label>
                                                <input type="date" id="data" name="data" class="form-control" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Nr. și data documentului</label>
                                                <input type="text" id="nr_si_data" name="nr_si_data"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="name">De unde provine documentul</label>
                                                <input type="text" id="de_unde_prov" name="provine_doc"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Continut pe scurt al documentului</label>
                                                <input type="text" id="cont_pe_scurt" name="cont_scurt"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Compartimentul căruia i s-a repartizat documentul si
                                                    semnătura de primire</label>
                                                <input type="text" id="comp_caruia" name="comp_repartizat"
                                                    class="form-control">
                                            </div>

                                            <div>
                                                <label for="name">Data expedierii</label>
                                                <input type="date" id="data_expedierii" name="data_expedierii"
                                                    class="form-control" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Destinatar</label>
                                                <input type="text" id="destinatar" name="destinatar"
                                                    class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Nr. de inregistrare la care se conex. doc. si indic.
                                                    dos.</label>
                                                <input type="text" id="nr_inregistrare" name="nr_inregistrare"
                                                    class="form-control">
                                            </div>
                                            
                                            <div id="error" class="alert alert-danger" role="alert" hidden>
                                            </div>

                                            <input type="submit" value="Editează" class="btn btn-primary">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    var entry = JSON.parse('{{ entry | safe }}');
    function populateForm() {
        try {
            document.getElementById("nr_inreg").value = entry["_id"];
            document.getElementById("data").value = entry["data_inregistrarii"];
            document.getElementById("nr_si_data").value = entry["nr_si_data_documentului"];
            document.getElementById("de_unde_prov").value = entry["de_unde_provine_documentul"];
            document.getElementById("cont_pe_scurt").value = entry["continutul_documentului"];
            document.getElementById("comp_caruia").value = entry["repartizare"];
            document.getElementById("data_expedierii").value = entry["data_expedierii"];
            document.getElementById("destinatar").value = entry["destinatar"];
            document.getElementById("nr_inregistrare").value = entry["nr_de_inregistrare_conex_doc_indic_dos"];
        }
        catch (error) {
            console.error('There was a problem with the fetch operation:', error);
        }
    }


    document.getElementById('form_add').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Serialize form data
        var formData = new FormData(this);

        // Send form data via AJAX
        fetch('/api/entry/add', {
            method: 'POST',
            body: formData
        })
            .then(async response => {
                if (response.ok) {
                    // Redirect to the success page after a successful submission
                    console.log("Entry added/updated!");
                    window.location.href = '/index';
                } else {
                    try {
                        const msg = await response.json();
                        if (response.status === 400) {
                            document.getElementById("error").removeAttribute('hidden');
                            document.getElementById("error").innerHTML = msg.error;
                        } else {
                            console.log("Another error occurred!");
                        }
                    } catch (error) {
                        console.error("Error parsing JSON:", error);
                    }
                }
            })
            .catch(error => {
                console.error("Error fetching the server:", error);
            });
    });
    populateForm();
</script>
{% endblock javascripts %}