{% extends "layouts/base.html" %} {% block title %} Registru Web | T.Popoviciu
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  table#table-full tr.fade-out {
    background-color: #ffcccc; /* Light red background color */
  }
  table#table-full tr.updated {
    background-color: #ccffcc; /* Light green background color */
  }
</style>
{% endblock stylesheets %} {% block content %}
<!-- [ Main Content ] start -->

<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->

        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Registru intrari/iesiri</h5>
                    <span class="d-block m-t-5">
                      Creaza, Sterge sau Editeaza orice intrare in registru
                    </span>
                    <div style="padding-top: 7px"></div>
                    <a href="/add">
                      <button class="btn btn-primary">Adauga</button>
                    </a>
                    <div
                      id="error"
                      class="alert alert-danger"
                      role="alert"
                      hidden
                    >
                      Există deja o înregistrare cu acest număr de înregistrare!
                    </div>
                  </div>
                  <div class="card-block table-border-style">
                    <div class="table-responsive">
                      <table
                        class="table table-hover table-sortable"
                        id="table-full"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Data inregistrarii</th>
                            <th>Nr. si data documentului</th>
                            <th>De unde povine documentul</th>
                            <th>Continutul documentului</th>
                            <th>Repartizare</th>
                            <th>Data expedierii</th>
                            <th>Destinatar</th>
                            <th>Nr. de inreg. conex. doc. indc. dos.</th>
                            <th>Adaugat de:</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody id="registry_table"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var socket = io();

  socket.on("entry_delete", function (data) {
    var $entryToDelete = $("#entry_" + data);

    // Add a class to change the background color
    $entryToDelete.addClass("fade-out");

    // Fade out the element
    $entryToDelete.fadeOut(1000, function () {
      $(this).remove();
    });

    console.log("Stergere intrare: ", data);
  });

  socket.on("entry_add", function () {
    location.reload();
  });

  socket.on("entry_updated", function (data) {
    // Find the row with the matching ID
    var $entryToUpdate = $("#entry_" + data._id);
    if ($entryToUpdate.length > 0) {
      // Update the HTML of the found row with the new data
      $entryToUpdate.html(`
      <td>${data._id}</td>
      <td>${data.data_inregistrarii}</td>
      <td>${data.nr_si_data_documentului}</td>
      <td>${data.de_unde_provine_documentul}</td>
      <td>${data.continutul_documentului}</td>
      <td>${data.repartizare}</td>
      <td>${data.data_expedierii}</td>
      <td>${data.destinatar}</td>
      <td>${data.nr_de_inregistrare_conex_doc_indic_dos}</td>
      <td><a href="/users/${data.user_id}"><button class="btn btn-outline-secondary">${data.user_name}</button></a></td>
      <td>
        <button class="btn btn-danger" onclick="deleteRow('${data._id}')">delete <i class="far fa-trash-alt"></i></button>
        <a href="/edit/${data._id}"><button class="btn btn-outline-secondary">edit <i class="feather icon-edit"></i></button></a>
      </td>
    `);

      $entryToUpdate.addClass("updated");

      // Remove the green background class after 1 second
      setTimeout(function () {
        $entryToUpdate.removeClass("updated");
      }, 1000);
    }
  });

  function deleteRow(id) {
    if (confirm("Esti sigur că vrei să ștergi intrarea?")) {
      $.ajax({
        url: "/api/table/del/" + id,
        method: "DELETE",
        success: function (response) {
          $("#entry_" + id).addClass("fade-out");
          $("#entry_" + id).fadeOut(1000, function () {
            $(this).remove();
          });
        },
        error: function () {
          $("#error")
            .removeAttr("hidden")
            .text("Intrarea nu mai exista! Dă reload la pagina!");
        },
      });
    }
  }

  $(document).ready(function () {
    let page = 1;
    let isLoading = false;

    function loadMoreData() {
      if (isLoading) return;
      isLoading = true;

      $.getJSON(`/api/table/show?page=${page}`, function (jsonData) {
        if (jsonData.length === 0) return;
        
        jsonData.forEach(function (item) {
          $("#registry_table").append(
            `<tr id="entry_${item._id}">
              <td>${item._id}</td>
              <td>${item.data_inregistrarii}</td>
              <td>${item.nr_si_data_documentului}</td>
              <td>${item.de_unde_provine_documentul}</td>
              <td>${item.continutul_documentului}</td>
              <td>${item.repartizare}</td>
              <td>${item.data_expedierii}</td>
              <td>${item.destinatar}</td>
              <td>${item.nr_de_inregistrare_conex_doc_indic_dos}</td>
              <td><a href="/users/${item.user_id}"><button class="btn btn-outline-secondary">${item.user_name}</button></a></td>
              <td>
                <button class="btn btn-danger" onclick="deleteRow('${item._id}')">delete <i class="far fa-trash-alt"></i></button>
                <a href="/edit/${item._id}"><button class="btn btn-outline-secondary">edit <i class="feather icon-edit"></i></button></a>
              </td>
            </tr>`
          );
        });

        page++;
        isLoading = false;
      });
    }

    loadMoreData();

    $(window).scroll(function () {
      if (
        $(window).scrollTop() + $(window).height() >=
        $(document).height() - 5
      ) {
        loadMoreData();
      }
    });
  });
</script>
{% endblock javascripts %}
